@import "tailwindcss";

@font-face {
	font-family: "Caslon";
	src: url("/shared/fonts/Caslon.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@theme {
	--font-sans: "Funnel Sans";
	--color-blue-dark: #63777b;
	--color-blue-light: #dfe2db;
	--breakpoint-xs: 425px;
	--breakpoint-xxs: 320px;
}

html,
body {
	@media (prefers-color-scheme: light) {
		background: var(--color-blue-light);
	}
}
.caslon-black {
	font-family: "Caslon";
}
.container {
	@apply md:max-w-6xl mx-auto xxs:max-w-screen;
}
h1 {
	@apply text-7xl;
}
h2 {
	@apply text-6xl;
}
h3 {
	@apply text-5xl;
}
h4 {
	@apply text-sm;
}
h5 {
}
h6 {
}
.button {
	@apply relative bg-blue-dark px-4 py-1 hover:pr-10 rounded-lg text-white text-lg transition-all overflow-hidden block;
}
.ui-component {
	@apply mx-auto flex justify-between items-center w-full dark:bg-blue-light bg-white p-4 px-5 rounded-2xl;
}

input {
	@apply border;
}

.form-label {
	@apply block;
}
input {
	font-size: large;
	padding: 0.2em 0.75em;
	border-radius: 0.5em;
	width: 100%;
	border: none;
	outline: 1px solid var(--color-blue-light);
}
input:focus {
	outline: 2px solid var(--color-blue-dark);
}
button:hover {
	cursor: pointer;
}
button:focus {
	outline: 2px solid var(--color-blue-dark);
}
